@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap");
/*
    font-family: "IBM Plex Sans", sans-serif; for text
    font-family: 'Courgette', cursive;  for title
*/

:root {
    --back-color: #fff;
}
/* reset 
--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--back-color);
    font-family: "IBM Plex Sans", sans-serif;
}
.container {
    width: 75rem;
    margin: 0 auto;
    /* background-color: yellow; test */
}
.center-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
/*header------------------------
-------------------------------*/
header {
    height: 4rem;
    background-color: #ddd;
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    background-color: #ccc;
    display: inline-block;
    border-radius: 0.2rem;
    margin-top: 1rem;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-item:not(:last-child) {
    display: inline-block;
    margin-right: 0.8rem;
}
/*-------------about--------------
----------------------------------*/
.about {
    min-height: 35rem;
    /* background-color: seagreen; test */
}
.about img {
    width: 30rem;
    height: 30rem;
}
/*--------------experience-------------
----------------------------------*/
.exp-container {
    background-color: #519259;
    padding: 1rem;
}
.exp {
    min-height: 30rem;
    /* background-color: sienna; test */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.exp-item {
    margin-top: 0.8rem;
}
/*--------------Projects-------------
----------------------------------*/
.proj-container {
    padding: 1rem;
}
.proj {
    min-height: 35rem;
}
.proj-item {
    margin: 1rem 0;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.2rem;
}
.proj-detail h3,
.pro-preview a {
    background-color: #ccc;
    display: inline-block;
    color: #111;
    padding: 0.1rem;
    margin: 0.1rem;
}
.pro-preview {
    background-image: url("../images/pro-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: #eee;
    border: 0.3rem solid;
    border-image: linear-gradient(
            var(--angle),
            #12c2e9,
            #712f92,
            #adab14,
            #14ad54,
            #690e14
        )
        1;
    animation: 5s rotate linear infinite;
}
.pro-preview2 {
    background-image: url("../images/pro-img2.jpg");
}
/*--------------Contacts-------------
----------------------------------*/
.contacts-container {
    background-color: #5c3d2e; /*test*/
}
.contacts {
    min-height: 30rem;
}
.contacts form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0.5rem;
}
form > *:not(button) {
    margin-top: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    border: 0.2rem solid #4b220d;
    outline: none;
}
.btn-send {
    display: inline-block;
    margin: 0.4rem;
    font-size: 1.5rem;
    width: 10rem;
    align-self: center;
    background-color: #4b220d;
    color: #eee;
    border: none;
    cursor: pointer;
}
/*--------------footer-------------
----------------------------------*/

/*---------------------------animation-------------------------*/
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
